{%  extends "blog/layout.html" %}  <!--template 상속은 최상단에!!-->

{% block content %}

    <form action="" method="get">
    <input type="text", name="q"/>
    <input type="submit", value="검색"/>

</form>

<ul>
{% for post in post_list %}
    <li>
    {{post.id}}

        <a href="{% url "blog:post_detail" post.id %}"> <!--인자넘기는것 주의!-->
            {{ post.title }}
        </a>


    <small>by {{post.author}}</small>
    <small>at {{post.updated_at}}</small>
</li>
{% endfor %}
</ul>

<ul>
    <li>hello</li>
    <li>django</li>
</ul>

{% endblock %}

